.maincontainer {
  min-height: calc(100vh - 116px);
  width: 100vw;
}

// .container{
//   margin-top: 20px;
//   width: 100%;
// }

.login {
  height: 60vh;
  margin-top: -25px;
}

.login-screen{
  padding: 60px;
}
