// Specific CSS for your home-page
.container {
  width: 100%;
  // margin-top: 20px;
}

.welcome {
  padding-top: 15px;
  padding-bottom: 30px;
}

.home-sections{
  margin-top: 20px;
}

.home-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 30px;
}
