<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/berni.bruck/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/bernard.bruck/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/bernibruck" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/bbruck/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <%# <div class="footer-copyright">
    © Bernard Bruck
  </div> %>
</div>
