<div class="container">
  <h1>Welcome to Bruckography</h1>
  <p>Soon you'll find a selection of my favourite pictures here.</p>


  <div>
  <%= cl_image_tag("börgerende_web_lbdgil", width: 400, height: 300, crop: :fill) %>
  </div>
</div>
