<section id="gallery">
  <div class="container">
    <div id="image-gallery">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://res.cloudinary.com/dgn2rtpsl/image/upload/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg"><img src="https://res.cloudinary.com/dgn2rtpsl/image/upload/c_scale,h_800,w_800/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://res.cloudinary.com/dgn2rtpsl/image/upload/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg"><img src="https://res.cloudinary.com/dgn2rtpsl/image/upload/c_scale,h_800,w_800/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://res.cloudinary.com/dgn2rtpsl/image/upload/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg"><img src="https://res.cloudinary.com/dgn2rtpsl/image/upload/c_scale,h_800,w_800/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://res.cloudinary.com/dgn2rtpsl/image/upload/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg"><img src="https://res.cloudinary.com/dgn2rtpsl/image/upload/c_scale,h_800,w_800/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://res.cloudinary.com/dgn2rtpsl/image/upload/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg"><img src="https://res.cloudinary.com/dgn2rtpsl/image/upload/c_scale,h_800,w_800/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://res.cloudinary.com/dgn2rtpsl/image/upload/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg"><img src="https://res.cloudinary.com/dgn2rtpsl/image/upload/c_scale,h_800,w_800/v1634741286/bo%CC%88rgerende_web_lbdgil.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://unsplash.it/1100"><img src="https://unsplash.it/1100" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://unsplash.it/1200"><img src="https://unsplash.it/1200" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div><!-- End row -->
    </div><!-- End image gallery -->
  </div><!-- End container -->
</section>

<%= javascript_pack_tag 'lightbox' %>
