.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.nav-item {
  display: flex;
  height: 2.6em;
}

// .nav-menu{
//   display: flex;
//   justify-content: space-between;
//   width: auto;
//   margin-right: 60px;
//   width: 36vw;
//   font-size: large;
// }

.nav-link-login{
  border-radius: 0 !important;
  width: 100px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .nav-item {
    flex-direction: column;
    background-color: white !important;
  }
}
